/venv
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.log
/dist/
.idea/
/src/HMTools.egg-info/
/src/PysTools.egg-info/
/tests/

__pycache__
/__pycache__/
/src/HMTools.egg-info/
